.button {
    @extend .bg-color-light-green;
    @extend .color-white;
    & > , &:visited, &:link {
        @extend .color-white;
        @extend .button-label;
    }
    padding: 0 rem-calc(42);
    border-radius: 28px;
    line-height: rem-calc(40);
    height: rem-calc(40);
    display: inline-block;
    border: 0;
    cursor: pointer;

    &.button-extra-height {
        padding: rem-calc(15) rem-calc(42);
    }

    &.transparent {
        border: 1px solid $white;
        background: transparent;
    }

    &.bright-green {
        @extend .bg-color-bright-green;   
        border: 1px solid $bright-green;     
        @include fluid-props(37px, 39px, line-height);
    }

    &.btn-arrow-right {
        @extend .arrow-for-button;
    }

    &.button-back {
        background: none;
        position: relative;
        padding-right: 0;
        padding-left: rem-calc(24);
        @extend .color-light-green;
        &::before {
            content: url(../img/icon-arrow-left.svg);
            position: absolute;
            left: 0;
            top: 1px;
            transition: all 250ms ease;
        }
    }

    &.button-close {
        background: none;
        padding: 0 !important;
        &::after {
            content: url(../img/icon-close-rounded.svg);
            margin-left: rem-calc(10);
            @include fluid-props(20px, 24px, height);
            @include fluid-props(20px, 24px, width);
        }
    }

    &.plus {
        @extend .button-plus;
    }

    &.green-outer {
        @extend .bg-color-transparent;
        border: 1px solid $light-green;
        @extend .color-light-green;
    }

    &.outline {
        @extend .bg-color-transparent;
        border: 1px solid $light-green;
        @extend .color-white;
    }
}


.arrow-for-button {
    position: relative;
    &::after {
        content: url(../img/icon-arrow-right.svg);
        margin-left: rem-calc(8);
        position: absolute;
        transition: right 250ms ease;
    } 
}

.button-plus {
    transition: left 250ms ease;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        @include fluid-props(20px, 30px, height);
        @include fluid-props(20px, 30px, width);
        margin-right: rem-calc(10);
        background-image: url(../img/icon-plus.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.is-active::before {
        background-image: url(../img/icon-strip.svg);
    }

    &.fill::before, &.white::before {
        background-image: url(../img/icon-plus-fill.svg);
    }

    &.green::before {
        background-image: url(../img/icon-plus-white.svg);
    }

    &.no-text {
        justify-content: flex-end;

        &::before {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}

.no-touchevents {
    .button:hover {
        @extend .bg-color-dark-green;
        border-color: $light-green;
    
        & > {
            @extend .color-white;
        }

        &.transparent {
            @extend .bg-color-white;
            @extend .color-light-green;
            border-color: $white;
        }

        &.bright-green {
            background: $medium-green;
            border-color: $medium-green;
        }

        &.btn-arrow-right::after {
            right: 7%;
        }

        &.button-back{
            background: none;
            &::before {
                left: -6px;
            }
        }
        &.button-close {
            background: none;
        }
        &.outline {
            @extend .bg-color-light-green;
        }
    }

    .button-plus:hover {
        &::before { 
            background-image: url(../img/icon-plus-fill.svg);
        }

        &.is-active::before { 
            background-image: url(../img/icon-strip-fill.svg);
        }

        &.fill::before {
            background-image: url(../img/icon-plus.svg);
        }
        
        &.white::before {
            background-image: url(../img/icon-plus-white.svg);
        }

        &.green::before {
            background-image: url(../img/icon-plus-fill.svg);
        }
    }

    .button-plus-no-text:hover {
        content: url(../img/icon-plus-fill.svg);

        &.is-active { 
            content: url(../img/icon-strip-fill.svg);
        }

        &.fill {
            content: url(../img/icon-plus.svg);
        }
    }
}
