.color-white {
    color: $white;
}

.color-light-blue {
    color: $light-blue;
}

.color-dark-green {
    color: $dark-green;
}

.color-bright-green {
    color: $bright-green;
}

.color-light-green {
    color: $light-green;
}

.color-darker-green {
    color: $darker-green;
}

.color-black {
    color: $black;
}

.color-gray {
    color: $gray;
}

.color-cyan {
    color: $cyan;
}

// background

.bg-color-transparent {
    background-color: transparent;
}

.bg-color-white {
    background-color: $white;
}

.bg-color-light-blue {
    background-color: $light-blue;
}

.bg-color-dark-green {
    background-color: $dark-green;
}

.bg-color-light-green {
    background-color: $light-green;
}

.bg-color-bright-green {
    background-color: $bright-green;
}

.bg-color-darker-green {
    background-color: $darker-green;
}

.bg-color-black {
    background-color: $black;
}

.bg-color-gray {
    background-color: $gray;
}

.bg-color-cyan {
    background-color: $cyan;
}

.no-touchevents {
    a.color-light-blue:hover {
        color: $light-blue;
    }
}