.input-style {
    @extend .form-input-text;
    @extend .color-white;
    padding: rem-calc(6) rem-calc(20) rem-calc(6);
    @include breakpoint (medium) {
        padding: rem-calc(6) rem-calc(26) rem-calc(6);    
    }
    border-radius: 28px;
    //line-height: rem-calc(36);
    outline: none;
    border: 1px solid $white;
    background: none;
    width: 100%;
    @include fluid-props(27px, 36px, line-height);
    @include fluid-props(40px, 50px, height);
    &::placeholder {
        @extend .color-white;
        opacity: 0.5;
    }
}

.input-style-checkbox {
    margin: 0 0.5rem 0 0 !important;
    opacity: 0;
    cursor: pointer;
    & + label:before {
        content: '';
        @include fluid-props(3px, 7px, margin-top);
        margin-left: rem-calc(-22);
        margin-right: rem-calc(16);
        width: rem-calc(16);
        height: rem-calc(16);
        border: 1px solid $white;
        background: transparent;
        cursor: pointer;
        display: inline-block;
        vertical-align: text-top;
    }

    &:checked + label:before {
        background: $white;
        cursor: pointer;
    }
}
.ginput_container_select, .input-field-cmb {
    .select {
        position: relative;
    }
}

.input-field-cmb {
    padding-left: rem-calc(15);
    .select-styled {
        background-position: 88% 50% !important;
    }
}
.select-hidden {
    display: none;
}

.select-options,
.select-styled {
    @extend .input-style;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    position: absolute;
}

.select-styled{
    &.active {
        display: none;
    }    
    background-repeat: no-repeat !important;
    background-position: 95% 50% !important;
    background-image: url(../img/icon-arrow-down.svg) !important;
}

.select-options {
    display: none;
    padding: 0;
    margin: 0;
	margin-bottom: rem-calc(36);
    background-image: url(../img/icon-arrow-up.svg);
    background-position: calc(100% - 16px) 20px;
    background-color: $darker-green;
    overflow: overlay;
    scrollbar-width: none;
    min-height: 40vh;
    height: 40vh;
    overflow: auto;
    z-index: 1;

    @include breakpoint (small only) {
        background-position: calc(100% - 10px) 15px;
        border-radius: 18px;
    }

    @include breakpoint (medium) {
        max-height: 60vh;
    }

    &::-webkit-scrollbar { 
        display: none;
    }
    
    li {
        @extend .form-input-text;
        padding: rem-calc(6) rem-calc(20) rem-calc(6);
        @include breakpoint (medium) {
            padding: rem-calc(6) rem-calc(26) rem-calc(6);    
        }
        line-height: 32px;
        &::before {
            content: '';
        }        
        margin: 0;
    }
}

.gform_body {
    #field_uploads {
        @include fluid-props(10px, 20px, margin-bottom);
    }
    
    #field_uploads, #field_review {
        .uploads-item {
            margin-bottom: -1px;
            &.selected {
                .grid-input, .gfield_label, .textarea-uploads, .button-plus {
                    display: none !important;
                }
                &:not(:last-of-type) { 
                    margin-bottom: -1px;
                }
            }
            &.input {
                @include fluid-props(16px, 20px, padding-top);
                @include fluid-props(16px, 20px, padding-bottom);
                .review-container {
                    display: none;
                }
            }
                    
            &.edit {
                .button-plus {
                    display: none;
                }
                .file-label {
                    opacity: 0; 
                }
            }

            .gfield_label {
                @extend .caption-semibold;
                @extend .color-light-green;
                letter-spacing: 0.6px;
            }

            .input-field {
                position: relative;
                &.selected {
                    .label-input::after  {
                        content: none;
                    }
                    .clear-img {
                        display: flex;
                    }
                }
            }
        
            .clear-img {
                cursor: pointer;    
                content: url(../img/icon-close.svg);
                position: absolute;
                @include fluid-props(10px, 12px, height);
                @include fluid-props(10px, 12px, width);
                @include fluid-props(15px, 19px, top);
                @include fluid-props(9px, 16px, right);
                display: none;
            }

            .act-container {
                height: rem-calc(23);
            }
        }
        .label-input {
            cursor: pointer;
            overflow: hidden;
            word-wrap: break-word;
            line-break: anywhere;
            @include breakpoint (small only) {
                min-width: rem-calc(200);
            }
        }
        .zoo-memory {
            @include fluid-props(48px, 60px, margin-bottom);
        }
    }

    #field_review { 
        .form-input-text {
            margin-bottom: rem-calc(6);
        }
    }

    .file-label {
        overflow: hidden;
        padding-left: rem-calc(16);
        margin: 0 rem-calc(16) 0 0;
        word-break: break-all;
        .item-no {
            @include fluid-props(-10px, -13px, margin-left);
        }
    }

    .review-container, .review-container .flex-container {
        justify-content: space-between;
        .button {
            @extend .caption-semibold;
            @include fluid-props(20px, 24px, height);
            @include fluid-props(22px, 26px, line-height);
            padding: 0 rem-calc(20);
            @include fluid-type(10px, 10px);
        }
    }

    .item-review {
        &:not(:last-of-type) { 
            margin-bottom: -1px;
        }
        .review-container {
            align-items: center; 
            @include fluid-props (24px, 24px, height);
        }
        .image-container {
            @include fluid-props (24px, 22px, margin-top);
            justify-content: stretch;
            img {
                width: rem-calc(67);
                height: rem-calc(67);
                @include fluid-props (20px, 30px, margin-right);
            }
        }
    }
    #field_uploads .uploads-item.edit, #field_uploads .uploads-item.selected, .item-review {
        border-top: 1px;
        border-bottom: 1px;
        border-left: 0;
        border-right: 0;
        border-style: solid;
        border-color: $dark-green;     
        @include fluid-props(16px, 20px, padding-top);
        @include fluid-props(16px, 20px, padding-bottom);
    }
    
    .container {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }

    .container::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    input#input_1_13{
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }

    input#gform_submit_button_1 {
        width: 48%;
    }
}


.gform_wrapper {
    ul {
        list-style: none;
        margin: 0;
    }

    .gform_body {
        #gform_page_1_1, #gform_page_1_3 {
            #field_1_16, #field_1_3, #field_1_4, #field_1_9, #field_uploads {
                .gfield_label {
                    @extend .caption-semibold;
                    @extend .color-light-green;
                    padding-bottom: rem-calc(8);
                    display: block;
                    letter-spacing: 0.6px;
                }
            }
        }
        #gform_page_1_4 {
            .gfield_checkbox {
                column-count: 1;
                margin-left: rem-calc(32);
                label {
                    @extend .textarea-label;
                    text-transform: none;
                    display: inherit;
                    position: relative;

                    a {
                        text-decoration: underline;
                        @extend .color-white;
                    }
                    &::before {
                        vertical-align: sub;
                        margin-right: 5px;
                        position: absolute;
                        left: -10px;
                        @include fluid-props(-1px, -4px, top);
                    }
                }
            }
        }

        .select-styled,
        .gfield_select,
        input[type=number],
        input[type=tel],
        input[type=text], 
        input[type=email],
        input[type=file], 
        .label-input,
        textarea {
            @extend .input-style;
            margin-bottom: rem-calc(28);
        }
        .ginput_container_textarea {
            margin-bottom: rem-calc(28);
            .charleft {
                font-style: italic;
                opacity: 0.5;    
                margin-top: -18px;
            }
        }
        textarea, .textarea-uploads {
            @extend .textarea-label;
            margin-bottom: rem-calc(16);
            padding-top: rem-calc(16);
            padding-bottom: rem-calc(16);
            resize: none;
            border-radius: 16px;
        }
        .textarea-uploads {
            height: rem-calc(100);
        }
        input[type=checkbox] {
            @extend .input-style-checkbox;
        }
        
        .label-input {
            @extend .button-label;
            display: block;
            text-align: center;
            position: relative;
           
            &::after {
                content: url(../img/icon-upload.svg);
                @include fluid-props(20px, 30px, height);
                @include fluid-props(20px, 30px, width);
                margin-left: rem-calc(10);
            }
            &.selected {
                &::after {
                    content: url(../img/icon-close.svg);
                    right: 0;
                    position: absolute;
                }
            }
        }
        .gfield_html {
            margin-bottom: rem-calc(8);
        }
        .gfield_checkbox {
            @include breakpoint (medium) {
                column-count: 2;
            }
            label {
                @extend .form-input-text;
                cursor: pointer;
                @include breakpoint (small only) {

                }
            }
        }
        .gfield_label {
            //@extend .h5-style;
            @extend .graphik-regular;
            @extend .color-white;
            @include fluid-type(16px, 20px);
            text-transform: capitalize;
        }
        #field_1_5 {
            .gfield_label {
                text-transform: initial;
                &::after {
                    content: ' (Check all that apply.)';
                    @include fluid-type(12px, 14px);
                    @include breakpoint(small only) {
                        display: block;
                        margin-bottom: rem-calc(8);
                    }
                }
            }
            .ginput_container {
                padding-top: rem-calc(8);
            }
            label::before {
                @include fluid-props(2px, 5px, margin-top);
            }
        }

        #input_1_6 {
            min-height: rem-calc(305);
        }

        #field_1_15 {
            width: 70%;
            .select-options,
            .select-styled {
                @include fluid-props(-31px, -34px, top);
            }
        }

        #field_1_13, #field_1_23 {
            display: inline-block;
            width: calc(50% - 8px);
        }

        #field_1_13 {
            margin-right: 8px;
            @include breakpoint (large) {
                // width: 27%;
                // margin-right: 5%;
            }            
        }

        #field_1_23 {
            margin-left: 8px;
            .gfield_radio {
                // @include fluid-props(146px, 242px, max-width);
                @include breakpoint (large) {
                    // max-width: fit-content;
                }
                @extend .input-style;   
                display: flex;
                justify-content: space-between;
                padding: 0;
                overflow: hidden;    
                width: fit-content;
                li {
                    flex: 0 0 50%;
                    text-align: center;
                }
                input[type=radio] {
                    width: 0;
                    display: none;
                }
                input + label {
                    @extend .input-style;
                    border-color: transparent;
                    padding-top: rem-calc(12);
                    padding-bottom: rem-calc(12);
                    @include fluid-props(0px, 34px, padding-left);
                    @include fluid-props(0px, 34px, padding-right);
                    @include fluid-props(72px, 120px, width);
                    @include fluid-type(14px, 20px);

                    @include breakpoint (large) {
                        @include fluid-props(72px, 166px, width);
                    } 
                    opacity: 0.5;
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    align-content: flex-start;
                    text-align: center;
                    justify-content: center;
                    margin-top: -1px;
                }
                input:checked + label {
                    @extend .bg-color-white;
                    @extend .color-dark-green;
                    opacity: 1;
                }
                #choice_1_23_1 + label {
                    padding: rem-calc(12) rem-calc(12) !important;   
                    @include breakpoint (medium) {
                         padding: rem-calc(10) rem-calc(34) !important;   
                    }  
                }
            }
        }
        
        #field_1_17 {
            .validation_message {
                margin: rem-calc(4) 0 0 rem-calc(29) !important;
            }
        }
        
        #field_1_5 {
            .validation_message {
                margin: rem-calc(4) 0 0 0 !important;
            }
        }

        .validation_message {
            @extend .graphik-regular-italic;
            @extend .color-light-blue;
            @extend .textarea-label;
            margin-top: rem-calc(4);
            &::before {
                content: "*";
            }
        }

        #label_1_17_1 {
            @extend .textarea-label;
        }

        #field_1_20 {
            h5 {
                line-height: 1;
            }
        }

    }

    .gform_page_footer {
        @include fluid-props(30px, 28px, margin-top);
        display: flex;
        justify-content: space-between;
        input[type=button] {
            @extend .arrow-for-button;
            &::after {
                content: "";
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../img/icon-arrow-right.svg);
                margin-left: rem-calc(10);
            }
        }
    }
    .gform_heading .gform_title {
        text-align: center;
        margin-bottom: rem-calc(40);
        @include breakpoint (medium) {
            display: none;
        }
    }

    #gf_page_steps_1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem-calc(48);
        position: relative;
        z-index: 0;
        width: 110%;
        margin-left: -5%;

        &:before {
            content: '';
            position: absolute;
            left: rem-calc(28);
            right: rem-calc(28);
            border-top: 1px solid $white;
        }
        
        .gf_step {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: rem-calc(-10);
            z-index: 1;
            position: relative;
            min-width: rem-calc(80);

            .gf_step_number {
                @extend .caption-semibold; 
                font-size: rem-calc(12);
                text-align: center;
                display: inline-block;
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: rem-calc(29);
                    height: rem-calc(29);
                    border-radius: 20px;
                    border: 1px solid $white;
                    position: absolute;
                    z-index: -1;
                    margin-left: -11px;
                    margin-top: -6px;
                    @extend .bg-color-darker-green;
                }
                /*
                &::after {
                    content: '';
                    position: absolute;
                    width: rem-calc(75);
                    height: 1px;
                    background-color: $white;
                    left: rem-calc(18);
                    top: rem-calc(8);
                }
                */
            }

            &.gf_step_active {
                .gf_step_number::before {
                    @extend .bg-color-light-green;
                    border: $light-green;
                }
                .gf_step_label {
                    @extend .color-light-green;
                }
            }
            &#gf_step_1_1 {
                .gf_step_number::before {
                    left: -1px;
                }
            }

            /*
            &#gf_step_1_2 {
                .gf_step_number::after {
                    @include fluid-props(50px, 500px, width);
                    @include breakpoint (medium) {
                        @include fluid-props(0px, 100px, width);
                    }
                }
            }

            &#gf_step_1_3 {
                .gf_step_number::after {
                    @include fluid-props(45px, 450px, width);
                    @include breakpoint (medium) {
                        @include fluid-props(0px, 95px, width);
                    }
                }
            }

            &#gf_step_1_4 {
                .gf_step_number::after {
                    content: none !important;
                    width: 0;
                }
            }
            */
        }

        .gf_step_label {
            @extend .tiny-text;
            text-align: center;   
            @include fluid-props (-6px, -5px, margin-top) ;
        }
        
        #gf_step_1_2, #gf_step_1_3 {
            .gf_step_label::first-line {
                @extend .tiny-text;
            }
            .gf_step_label {
                @extend .graphik-regular;
            }
        }

        .gf_step_clear {
            display: none;
        }
    } 
   
    .gfield_description.validation_message {
        @include fluid-props (-16px, -20px, margin-top);
        @include fluid-props (16px, 24px, margin-bottom);
    }

    .gform_next_button, .gform_previous_button {
        width: 48%;
        padding: 0;
    }

    .gform_next_button {
        .icon-arrow-right {
            //margin-left: rem-calc(10);
            //margin-right: rem-calc(10);
            transition: all 200ms ease;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            &::after {
                content: "";
                @include fluid-props (6px, 10px, height);
                @include fluid-props (12px, 15px, width);
                @extend .background-cover;
                background-image: url('../img/icon-arrow-right.svg');
                display: block;
                margin-left: .5rem;
                position: relative;
                right: 0;
                top: 0px;
                transition: right 250ms ease;
            }
        }
    }

    .gform_previous_button {
        @extend .button.outline;
        .icon-arrow-left{ 
            // margin-left: rem-calc(10);
            // margin-right: rem-calc(10);
            transition: all 200ms ease;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            &::before {
                content: "";
                @include fluid-props (6px, 10px, height);
                @include fluid-props (12px, 15px, width);
                @extend .background-cover;
                background-image: url('../img/icon-arrow-left-white.svg');
                display: block;
                margin-right: .5rem;
                position: relative;
                left: 0;
                top: 0px;
                transition: left 250ms ease;
            }
        }
    }

    #gform_next_button_1_1 {
        width: 100%;
    }

    .gf_progressbar_percentage span,
    img.gform_ajax_spinner, .gform_page_footer .ginput_counter, 
    .gf_progressbar_wrapper .gf_progressbar_title, .instruction, .validation_error, .gfield_required {
        display: none;
    }
}

.gform_confirmation_message_1  {
    @extend .p-style;
    h2 {
        @extend .color-light-green;
        //margin: 0;
    }
    a {
        @extend .color-white;
        text-decoration: underline;
    }
    .button {
        text-decoration: none;
        margin-top: rem-calc(54);
    
    }
}

.no-touchevents {
    .gform_page_footer {
        input[type=button]::after {
            margin-left: rem-calc(16);
        }
    }
    .gform_previous_button:hover {
        .icon-arrow-left::before {
            left: -6px;
            // margin-left: 0px;
            // margin-right: 20px;
        }
    }
    .gform_next_button:hover {
        .icon-arrow-right::after {
            right: -6px;
            //margin-left: 20px;
            //margin-right: 0px;
        }
    }
}