.dynamic-content-container {
    position: relative;
    
    .content-desc {

        h3, .eyebrow {
            @extend .color-dark-green;
        }

        h2, .eyebrow {
            @include fluid-props(12px, 16px, margin-bottom);
        }

        h3 {
            @include fluid-props(16px, 20px, margin-bottom);
            @extend .medium;
        }
    }

    .side-image-content {
        @include fluid-props(52px, 92px, padding-top);
        @include fluid-props(68px, 108px, padding-bottom);
    
        .content-image {
            @include breakpoint (medium) {
                @include fluid-props(-84px, -128px, margin-top);
            }
    
            @include breakpoint (small only) {
                margin-bottom: rem-calc(28);
            }

            &.left-image {
                @include breakpoint (small only) {
                    margin-top: rem-calc(-84);
                }
            }
        }

        &.expand-content{
            @include fluid-props(32px, 92px, padding-top);
            @include fluid-props(64px, 88px, padding-bottom);

            .content-image.left-image {
                @include breakpoint (small only) {
                    margin-top: rem-calc(-56);
                }
                img {
                    @include fluid-props(164px, 356px, height);
                    @include fluid-props(208px, 456px, width);
                }
            }

            .expand-button-container {
                @include fluid-props(0px, 20px, margin-top);
                a {
                    display: inline-flex;
                    align-items: flex-start;
                    @include breakpoint(medium) {
                        align-items: center;
                    }
                }
                a::before {
                    @include fluid-props(16px, 30px, height);
                    @include fluid-props(16px, 30px, width);
                    @include fluid-props(4px, 12px, margin-right);
                }
            }
        }
    }
    
    .half-transparent-panel {
        position: absolute;
        background-blend-mode: multiply;
        z-index: 10;
        opacity: 0.7;
        height: auto;
        top: 0;
        bottom: 0;

        width: 100%;
        @include breakpoint(medium) {
            width: calc(50% + #{map-get($grid-container-padding, medium)});
        }
        @include breakpoint(large) {
            width: calc(50% + #{map-get($grid-container-padding, large)});
        }
        @media print, screen and (min-width: $global-width) {
            width: calc(50% + 60px + (100% - #{$global-width}) / 2);
        }

        &.dark-green {
            background-image: linear-gradient(90deg, $dark-green 45%, rgba(255,255,255,0) 100%), linear-gradient(90deg, $dark-green 40%, rgba(255,255,255,0) 100%);
        }

        &.darker-green {
            background-image: linear-gradient(90deg, $darker-green 45%, rgba(255,255,255,0) 100%), linear-gradient(90deg, $darker-green 40%, rgba(255,255,255,0) 100%);
        }

        &.small-size {
            width: 100%;
            @include breakpoint(large) {
                width: calc(75% + #{map-get($grid-container-padding, large)});
            }
            @media print, screen and (min-width: $global-width) {
                width: calc(75% + 60px + (100% - #{$global-width}) / 2);
            }
            @include breakpoint(small only) {
                &.dark-green {
                    background-image: linear-gradient(to top, $dark-green 25%, rgba(255,255,255,0) 100%), linear-gradient(to top, $dark-green 30%, rgba(255,255,255,0) 100%);
                }
        
                &.darker-green {
                    background-image: linear-gradient(to top, $darker-green 25%, rgba(255,255,255,0) 100%), linear-gradient(to top, $darker-green 30%, rgba(255,255,255,0) 100%);
                }
            }
        }
    }

    .bg-image-content{
        width: 100%;
        position: absolute;
        z-index: 10;
        height: auto;
        top: 0;
        bottom: 0;
    }

    .bg-content-container {
        @include fluid-props(56px, 144px, padding-top);
        @include fluid-props(48px, 136px, padding-bottom);
        
        //background-image: linear-gradient(90deg, #005851 25%, #FFFFFF 70%) !important;
        //background-blend-mode: multiply;

        &.small-size {
            padding-top : rem-calc(88);
            padding-bottom : rem-calc(84);
        }

        .desc-container {
            position: relative;
            z-index: 15;

            .eyebrow {
                @extend .color-white;
            }
            hr {
                @include fluid-props(32px, 48px, margin-top);
                @include fluid-props(32px, 48px, margin-bottom);              
            }
        }
    }

    .small-bg-image-content {
        .small-bg-image-container {
            position: relative;

            .small-bg-item-image {
                width: 100vw;
                padding : 0 rem-calc(28);
                padding-top : rem-calc(268);
                padding-bottom : rem-calc(24);
                height : rem-calc(390);

                .title-container{
                    position: relative;
                    z-index: 15;

                    .eyebrow {
                        @extend .color-white;
                    }
                }
            }
        }

        .small-description-container {
            padding : 0 30px;
            padding-top : rem-calc(40);
            padding-bottom : rem-calc(55);
        }
        
    }
}