.libre-regular, .libre-regular-italic {
    font-weight: normal;
    font-style: normal;
}

.libre-regular  {
    font-family: 'Libre Baskerville', serif;
}

.libre-regular-italic {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

@font-face {
    font-family: "Graphik-Regular";
    src: url('../webfonts/Graphik-Regular.eot'); /* IE9 */
    src: url('../webfonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'), /* IE8 */
        url('../webfonts/Graphik-Regular.woff2') format('woff2'), /* Modern */
        url('../webfonts/Graphik-Regular.woff') format('woff'), /* Standard */
        url('../webfonts/Graphik-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Graphik-RegularItalic";
    src: url('../webfonts/Graphik-RegularItalic.eot'); /* IE9 */
    src: url('../webfonts/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE8 */
        url('../webfonts/Graphik-RegularItalic.woff2') format('woff2'), /* Modern */
        url('../webfonts/Graphik-RegularItalic.woff') format('woff'), /* Standard */
        url('../webfonts/Graphik-RegularItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Graphik-Bold";    
    src: url('../webfonts/Graphik-Bold.eot'); /* IE9 */
    src: url('../webfonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'), /* IE8 */
        url('../webfonts/Graphik-Bold.woff2') format('woff2'), /* Modern */
        url('../webfonts/Graphik-Bold.woff') format('woff'), /* Standard */
        url('../webfonts/Graphik-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Graphik-Semibold";
    src: url('../webfonts/Graphik-Semibold.eot'); /* IE9 */
    src: url('../webfonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'), /* IE8 */
        url('../webfonts/Graphik-Semibold.woff2') format('woff2'), /* Modern */
        url('../webfonts/Graphik-Semibold.woff') format('woff'), /* Standard */
        url('../webfonts/Graphik-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
}

.graphik-regular, .graphik-bold, .graphik-semibold {
    font-weight: normal;
    font-style: normal;
}

.graphik-bold {
    font-family: "Graphik-Bold";
} 

.graphik-semibold {
    font-family: "Graphik-Semibold";
}

.graphik-regular {
    font-family: "Graphik-Regular";
}
    
.graphik-regular-italic {
    font-family: "Graphik-RegularItalic";
    font-style: normal;
}
    


