@font-face {
    font-family: "Antwerp_Regular";
    src: url("../fonts/antwerp/Antwerp_Regular.otf");
}

@font-face {
    font-family: "Antwerp_RegularItalic";
    src: url("../fonts/antwerp/Antwerp_RegularItalic.otf");
}

.antwerp-regular, .antwerp-regular-italic {
    font-weight: normal;
    font-style: normal;
}

.antwerp-regular  {
    font-family: "Antwerp_Regular";
}

.antwerp-regular-italic {
    font-family: "Antwerp_RegularItalic";
}

@font-face {
    font-family: "Graphik-Regular";
    src: url("../fonts/graphik/Graphik-Regular.otf");
}

@font-face {
    font-family: "Graphik-Bold";
    src: url("../fonts/graphik/Graphik-Bold.otf");
}

@font-face {
    font-family: "Graphik-Semibold";
    src: url("../fonts/graphik/Graphik-Semibold.otf");
}

.graphik-regular, .graphik-bold, .graphik-semibold {
    font-weight: normal;
    font-style: normal;
}

.graphik-bold {
    font-family: "Graphik-Bold";
} 

.graphik-semibold {
    font-family: "Graphik-Semibold";
}

.graphik-regular {
    font-family: "Graphik-Regular";
}
    


