* {
  transition: color 250ms, background-color 250ms, opacity 250ms;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  
  &.disable-scroll {
    overflow: hidden;
  }
}

.hide {
  display: none;
}

.h1-style, .h1-style-large, .h2-style, .h3-style, .form-input-text {
  @extend .antwerp-regular;  
}

.h4-style, .caption-semibold, .button-label, .h5-style-semibold {
  @extend .graphik-semibold;
}

.caption, .p-style, .h5-style {
  @extend .graphik-regular;
}

h1 {
  @extend .h1-style;
  &.large {
    @extend .h1-style-large;
  } 
}

h2 {
  @extend .h2-style;
}

h3 {
  @extend .h3-style;
}

h4 {
  @extend .h4-style;
}

h5 {
  @extend .h5-style;
  &.semibold {
    @extend .h5-style-semibold;
  }  
}

p {
  @extend .p-style;
  &.bold {
    font-weight: bold;
  }
}

.form-input-text {
  @include fluid-type(18px, 24px);   
} 

.caption, .caption-semibold {
  @include fluid-type(8px, 12px); 
  text-transform: uppercase;
}

.button-label {
  @include fluid-type(11px, 14px); 
  text-transform: uppercase;
}

.h1-style {
  @include fluid-type(36px, 53px);
}

.h1-style-large {
  @include fluid-type(44px, 64px);
}

.h2-style {
  @include fluid-type(28px, 42px);
}

.h3-style {
  @include fluid-type(24px, 32px);
}

.h4-style {
  @include fluid-type(18px, 26px);
}

.h5-style, .h5-style-semibold {
  @include fluid-type(18px, 20px);
}

.p-style {
  @include fluid-type(14px, 16px);
}

.background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: transparent;
  z-index: 100;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  right:0;

  @include fluid-props(44px, 52px, padding-top);
  @include fluid-props(44px, 52px, padding-bottom);

  p {
    margin: 0;
  }

  .middle-content {
    text-align: center;
  }

  .right-content {
    text-align: right;
    a {
      @extend .color-white;
    }
  }

  &.scrolled {
    @extend .bg-color-white;

    .right-content {
      a {
        @extend .color-black;
      }
    }
  }
}

footer {
  @include fluid-props(60px, 72px, padding-top);
  @include fluid-props(68px, 80px, padding-bottom);
  p {
    margin: 0;
  }

  .footer-links {
    display: grid;

    .footer-link {
      @include fluid-props(12px, 16px, margin-bottom);
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .footer-social-media {
    display: grid;

    .donate-button {
      @include fluid-props(12px, 16px, margin-bottom);
    }

    .icon-desc {
      @include fluid-props(8px, 10px, margin-bottom);
    }

    .icon-container .icon-item {
      @include fluid-props(16px, 20px, margin-right);
    }
  }

  .bottom-content-container {
    @include fluid-props(32px, 40px, margin-top);
  }

  .footer-right-content {

    .footer-logo-container {
      @include fluid-props(16px, 20px, margin-bottom);
    }

    .footer-address-container {
      @extend .caption;
      @extend .color-white
    }
  }
}

.no-touchevents {

}
