* {
  transition: color 250ms, background-color 250ms, opacity 250ms;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

p {
  @include fluid-type(16px, 18px);
}

h1 {
  @include fluid-type(30px, 60px);
}

.background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: transparent;
  position: absolute;
  z-index: 15;
  width: 100%;
  @include breakpoint(medium) {
    padding: 1.5rem 0;
  }
  @include breakpoint(large) {
    padding: 2rem 0;
  }
  p {
    margin: 0;
  }

  .middle-content {
    text-align: center;
  }

  .right-content {
    text-align: right;
  }
}

footer {
  background-color: green;
  color: $black;
  padding-top: rem-calc(72);
  padding-bottom: rem-calc(80);
  p {
    margin: 0;
  }

  .footer-links {
    display: grid;

    .footer-link {
      @include fluid-props(12px, 16px, margin-bottom);
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .footer-social-media {
    display: grid;

    .donate-button {
      @include fluid-props(12px, 16px, margin-bottom);
    }

    .icon-desc {
      @include fluid-props(8px, 10px, margin-bottom);
    }
  }

  .bottom-content-container {
    @include fluid-props(32px, 40px, margin-top);
  }

  .footer-right-content {

    .footer-logo-container {
      @include fluid-props(28px, 32px, margin-bottom);
    }

    .footer-address-container {

    }
  }
}

.no-touchevents {

}
