.menu-open-container {
    min-height: 100vh;
    height: 100vh;    
    overflow-y: scroll;
    position: fixed;
	width: 100%;
	top: 0;
	left: 0;
    z-index: -100;
    opacity: 0;
    transition: all 250ms ease-in-out;
    .menu-open-container-inner {
        @include fluid-props(72px, 124px, padding-bottom);
        min-height: 100%;
        position: relative;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $green-gradation;//$darker-green;
            opacity: 0.6;
        }
        > &:not(.overlay) {
            z-index: 1;
        }
        > .grid-container {
            position: relative;
        }
    }

    .header-container {
        @include fluid-props(46px, 124px, padding-bottom);
        @include fluid-props(28px, 56px, margin-right);
        @include fluid-props(28px, 56px, margin-left);
        
        position: relative;
        .logo-content {
            text-align: center;
            @include breakpoint (small only) {
                text-align: left;
            }

            a img {
                @include fluid-props(40px, 68px, height);
            }

        }
        .right-content {
            text-align: right;
            font-size: rem-calc(36);

            .icon-close {
                display: block;
                @include fluid-props(21px, 27px, width);
                @include fluid-props(19px, 24px, height);
            }
        }
    }

    .menu-container {
        .left-section, .right-section {
            @include breakpoint (medium) {
                @include fluid-props(16px, 32px, padding-top);
                @include fluid-props(16px, 32px, padding-bottom);
                @include fluid-props(48px, 82px, padding-left);
                @include fluid-props(48px, 82px, padding-right);
            }
        }
        .left-section {
            text-align: center;
            @include breakpoint (small only, medium only) {
                border-bottom: 1px solid $white;
                @include fluid-props(45px, 45px, padding-bottom);
                .menu-item:last-of-type {
                    padding-bottom: rem-calc(45);    
                }
            }
            @include breakpoint (large) {
                border-right: 1px solid $white;
            }
            .menu-item {
                @include fluid-props(32px, 72px, padding-bottom);
                opacity: 0.4;
                cursor: pointer;
                .title-text {
                    margin-bottom: rem-calc(8);

                    @include breakpoint (small only) {
                        margin-left: -6px;
                        white-space: nowrap;
                    }

                    @include breakpoint (large) {
                        white-space: nowrap;
                        @include fluid-props(-36px, 0px, margin-left);
                    }
                }
                .desc-text {
                    margin: 0;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    @include breakpoint (small only) {
                        width: 98%;
                    }
                }

                &:last-of-type {
                    padding-bottom: 0;    
                }

                &.default {
                    opacity: 1;
                    .title-text {
                        @extend .color-light-blue;
                    }
                }

                &.active {
                    opacity: 1;
                    .title-text {
                        @extend .color-white;
                    }
                }
            }
        }
        .right-section {        
            @include breakpoint(medium) {
                display: flex;
                align-items: center;    
                justify-content: flex-end;
            }
            .content-right {
                display: none;
                width: 100%;
                @include breakpoint (small only, medium only) {
                    padding-top: rem-calc(30);                        
                }
                .title {
                    @include fluid-props(20px, 38px, margin-bottom);
                }
                &.active {
                    display: block;
                }
                .button {
                    @include fluid-props(64px, 80px, margin-bottom);
                }
            }
            .default-content {
                margin-bottom: auto;
            }
        }
    }

    &.active {
        z-index: 100;
        opacity: 1;
    }
}

#terms-reveal {
    @include fluid-props(56px, 96px, padding-top);
    @include fluid-props(56px, 96px, padding-bottom);
    position: relative;
    width: 100%;
    @include breakpoint (medium) {
        max-width: rem-calc(746);
    }

    .close-button {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        @include fluid-props(20px, 40px, margin);
        @include fluid-type(34px, 42px);
    }

    .cell-container {
        text-align: center;
        h3, .content-container {
            text-align: left;
        }
        .button {
            margin-top: rem-calc(16);
            width: 100%;
            @include breakpoint (medium) {
                max-width: rem-calc(455);
            }
        }
        .content-container {
            @extend .caption;
            text-transform: none !important;
        }
    }
}

.no-touchevents {
    .menu-open-container .menu-container .left-section .menu-item:hover {
        .title-text {
            @extend .libre-regular-italic;
            @extend .color-white;

            margin-left: 0;
        }
    }
}