.page-template-page-home main {
    .carousel-cell {
        opacity: 0;
        transition: opacity 150ms cubic-bezier(0, 1.75, 1, 1.58) !important;
        &.is-selected {
            opacity: 1;
        }
    }

    .home-container {
        position: relative;
        min-height: 100vh;
        .hero-container {
            position: absolute;
            min-width: 100vw;

            .carousel-main {
                .carousel-cell {
                    opacity: 0;
                    transition: opacity 150ms !important;
                    
                    &.is-selected {
                        opacity: 1 !important;
                    }

                    .hero-item-container {
                        min-height: 100vh;
                        min-width: 100vw;
                        z-index: 15;
        
                        .title-container {
                            position: absolute;
                            z-index: 15;
                            bottom: rem-calc(80);
                            left: rem-calc(56);
                        }
                    }
                }
            }
        }

        .desc-container {
            position: relative;
            @include fluid-props(440px, 240px, padding-top);
            @include fluid-props(48px, 238px, padding-bottom);
        }
    }

    .hero-transparent-panel {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        opacity: 0.75;
        background: linear-gradient(90deg, $green-gradation 10%, rgba(255,255,255,0) 100%);

        @include breakpoint (small only) {
            background: linear-gradient(to top, $green-gradation 15%, rgba(255,255,255,0) 80%);
        }
    }

    .small-home-container {
        position: relative;
        .small-hero-container{
            position: relative;

            .hero-item-container {
                height: rem-calc(392);
                width: 100vw;
                padding-top: rem-calc(332);
                padding-left: rem-calc(32);

                .title-container {
                    position: relative;
                    z-index: 15;
                }
            }

            .small-hero-transparent-panel {
                position: absolute;
                width: 100%;
                top: 0;
                bottom: 0;
                background: linear-gradient(to top, $cyan 3%, rgba(255,255,255,0) 35%);
            }
        }   

        .small-desc-container {
            padding: 28px 32px 48px 32px;

            .small-content-container {
                position: relative;
                z-index: 15;
            }
        }
    }

    .flickity-page-dots {
        @extend .hide-when-menu-active;
        width: auto;
        text-align: left;
        z-index: 15;
        @include fluid-props(92px, 136px, margin-bottom);
        @include fluid-props(32px, 56px, margin-left);

        .dot {
            @include fluid-props(12px, 16px, height);
            @include fluid-props(12px, 16px, width);
            background-color: transparent;
            opacity: 1;
            border: 1px solid $light-blue;

            &:first-of-type {
                margin-left: 0;
            }
            &.is-selected {
                @extend .bg-color-light-blue;
            }
        }
    }
}