.page-template-page-your-zoo-transformed main {
    #intro {
        .intro-image {            
            @include fluid-props(390px, 600px, min-height);
            position: relative;

            .intro-desc {
                @include fluid-props(148px, 268px, margin-top);
                @include fluid-props(48px, 158px, margin-bottom);
                @include fluid-props(332px, 756px, max-width);
                text-align: center;
                z-index: 15;
            }
        }
    }

    .your-zoo-carousel-main {
        .carousel-cell {
            width: 100%;
        }
    }

    #completed-projects {
        @include fluid-props(48px, 128px, margin-top);
        @include fluid-props(48px, 128px, margin-bottom);

        .projects-container {
            .project-id-container {
                @include breakpoint(large) {
                    width: calc(33.33333% - 1.875rem);
                }
            }
            .project-item-container {
                h4, .eyebrow {
                    letter-spacing: 0;
                    line-height: 1.2;
                }

                .eyebrow {
                    margin-top: rem-calc(8);
                }

                .image-container {
                    @include fluid-props(12px, 16px, margin-bottom);
                    img {
                        width: 100%;
                    }
                }

                .show-desc-project-container {
                    text-align: right
                }

                .description-container {
                    .desc-content {
                        @include fluid-props(16px, 24px, margin-top);
                        @include fluid-props(16px, 24px, margin-bottom);
                    }
                }
            }

            &.open-desc {

                .project-item-container:not(.set-focus) {
                    opacity: 0.5;
                    /* pointer-events: none;
                    cursor: default; */
                }
            }
            .small-description-container {
                @include breakpoint(small only) {
                    margin-bottom: rem-calc(40);
                }

                
                .desc-content {
                    margin-bottom: rem-calc(16);
                }
            }
        }
    }
}

.no-touchevents {
    #completed-projects {
        .projects-container {
            .project-item-container {
                .button-show-desc:hover {
                    .image-container {
                        opacity: 0.65;
                    }
                    .show-desc-project-container {
                        .button-plus {
                            @extend :hover;
                        }
                    }
                }
            }
        }
    }
}